<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Bird Name</th>
        <th scope="col">Origin</th>
        <th scope="col">Counts</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
       <td><a href="http://127.0.0.1:8000/inventory/peacock/">Peacock</a></td>
        <td>India</td>
        <td>100000+</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Dove</td>
        <td>Pacific Region</td>
        <td>no data</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Woodpecker</td>
        <td>Australia</td>
        <td>300+ species</td>
      </tr>
    </tbody>
  </table>